<div class="container-fluid editor row no-gutters">
  <div class="col-sm-12 col-md-3 col-lg-2 menu-list">
    <nav>
      <ul>
        <li><a href="">Logo</a></li>
        <li><a href="">Boards</a></li>
        <li><a href="">Perfil</a></li>
        <li><a href="">Sair</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-12 col-md-9 col-lg-10 main-editor">
    <header>
      <h2>
      <a href="#back">
        <i style="font-size: 16px;  position: relative;top: -2px;left: -10px;" class="fa fa-chevron-left"></i>
      <a/>

      <a>Terminar App do Future Self</a>
      
      <a>
        <span class="header-sub">24h</span>
      </a>
      </h2>
      
      <ol class="breadcrumb">
      <li><a href="#">Estudos</a></li>
       <li><a href="#">Desenvolvimento</a></li>
      <li><a href="#">Angel Hack</a></li>
      </ol>
    </header>
    <section>
      <div class="timeline-detail">
        <div class="col-sm-4 col-md-4">
        <i class="fa fa-check-circle checked">&nbsp;</i>
          <h3>Utilizar Bluemix</h3>

          <ul class="item-tasks-list">
            <li><input type="text" id="nova" placeholder="Próximas Tarefas..."></input></li>            
            <li><a>Watson Lang</a></li>
            <li><a href="">Compose Database</a></li>
            <li><a href="">Image Reconizition</a></li>
            <li><a href="">Natural Language</a></li>            
          </ul>
        </div>


        <div class="col-sm-4 col-md-4">
        <i class="fa fa-check-circle checked">&nbsp;</i>

          <h3>Utilizar Bluemix</h3>

          <ul class="item-tasks-list">
            <li><input type="text" id="nova" placeholder="Próximas Tarefas..."></input></li>            
            <li><a>Watson Lang</a></li>
            <li><a href="">Compose Database</a></li>
            <li><a href="">Image Reconizition</a></li>
            <li><a href="">Natural Language</a></li>
          </ul>
        </div>

        <div class="col-sm-4 col-md-4">
        <i class="fa fa-check-circle checked">&nbsp;</i>
          <h3>Utilizar Bluemix</h3>

          <ul class="item-tasks-list">
            <li><input type="text" id="nova" placeholder="Próximas Tarefas..."></input></li>            
            <li><a>Watson Lang</a></li>
            <li><a href="">Compose Database</a></li>
            <li><a href="">Image Reconizition</a></li>
            <li><a href="">Natural Language</a></li>
          </ul>
        </div>
        
      </div>
    </section>
  </div>
</div>