<br/><br/><br/><br/>
  <div class="wrapper">
    <%= image_tag "logo/FutureSelf-normal _logotipo.png", :width => "280px", :class => "cd-logo center-image"%>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/>
    <p>Planeje a sua vida</p>
    <br/><br/><br/>
    <br/>
    <%= link_to "Entre com o Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-lg btn-primary btn-block", :style => "color:#FFF;"  %>
  </div>


<style type="text/css">

body {
  background: url('<%= image_url "bg.jpg" %>');
  background-size: cover; 
}

p{
  font-size: 21px;
}

.wrapper {  
  text-align: center;

  background: #eee !important;  
  
  margin-top: 80px;
  margin-bottom: 80px;
  width: 50%;
  margin: 0 auto;
}

</style>